{% load static %}
<link rel="stylesheet" href="/static/cosmo_estilo.css">
<h1>Pagina cosmo dentro da raiz templates dentro de clientes/cosmo.html</h1>

<h3 class="teste">O cliente {{ cliente.nome }} tem {{ cliente.idade }}</h3>